
  /* Navbar styles */
  .navbar {
    background-color: #333; /* Change to your preferred background color */
    color: #fff; /* Change to your preferred text color */
    padding: 10px 0;
    position: relative;
    }
    
    .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    }
    
    .logo {
    font-size: 24px;
    text-decoration: none;
    color: #fff; /* Change to your preferred logo color */
    }
    
    .nav-links {
    list-style: none;
    display: flex;
    }
    
    .nav-links li {
    margin-right: 20px;
    }
    
    .nav-links a {
    text-decoration: none;
    color: #fff; /* Change to your preferred link color */
    transition: color 0.3s ease;
    }
    
    .nav-links a:hover {
    color: #ffffff; /* Change to your preferred hover color */
    }
    /* Dropdown Button */
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
    }
    
    /* Dropdown button */
    .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    }
    
    /* Add a red background color to navbar links on hover */
    .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #333;
    }
    
    /* Dropdown content (hidden by default) */
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    }
    
    /* Add a grey background color to dropdown links on hover */
    .dropdown-content a:hover {
    background-color: #ddd;
    }
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
    display: block;
    }
 .warper{
   max-width: 1400px;
   margin-left: auto;
   margin-right: auto;
 }
 .gray{
  background-color: #333;
  height: 350px;
 }
 .footer-con >div{
  border-bottom: #838282 solid 1px;
  margin-left: 50px;
  margin-right: 50px;
 }
 .item1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
 }
 .margin-top{
  margin-top: 66px;
 }
 .right{
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .province{
  margin-left: 10px;
 }
 .ul-style{
  display: flex;
  list-style: none;
  text-decoration: none;
 }
 ul li a{
  text-decoration: none;
  margin:  10px;
}
.item2{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 13px;
}
.footer-r{
  list-style: none;
}
.footer-r li a{
  display: block;
  font-size: 11px;
}
.item3-con{
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 12px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.item3-con > p{
  color: #797474;
  font-size: 10px;
}
.item3-con > a{
  text-decoration: none;
  color: #797474;
}
/* เพิ่ม media queries เพื่อทำให้สไลด์เดอร์เป็น responsive */
@media screen and (max-width: 768px) {
  .slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .item {
    width: calc(50% - 20px); /* ปรับขนาดของรายการให้แสดงเป็นสองคอลัมน์ */
    margin-bottom: 20px;
  }

  .content {
    width: 100%;
    left: 0;
    padding: 0 15px; /* เพิ่ม padding ด้านซ้ายและด้านขวา */
  }
}
@media screen and (max-width: 768px) {
  .item1{
    padding-top: 10px;
    padding-bottom: 10px;
   }
   .item2{
    grid-template-columns: repeat(2,1fr);
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 13px;
  }
  .container{
    display: flex;
   flex-direction: column;
  }
  
}
@media screen and (max-width: 460px) {
 .item1{
  display: flex;
  flex-direction: column;
 }
 .gray{
  height: 500px;
 }
}



/* Content Section Styles */
.ftco-section {
  padding: 7em 0;
}

.contact-wrap {
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.contact-wrap h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.contact-wrap .form-group {
  margin-bottom: 20px;
}

.contact-wrap .label {
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

.contact-wrap .form-control {
  border-radius: 5px;
}

.contact-wrap .btn-primary {
  background-color: #333;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.contact-wrap .btn-primary:hover {
  background-color: #333;
}

.dbox {
  background-color: #c6d2dd;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.dbox p {
  margin-bottom: 0;
}

.dbox a {
  color: #333;
}

.dbox .icon {
  fcolor: #333;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .contact-wrap {
      padding: 30px;
  }

  .contact-wrap h3 {
      font-size: 20px;
  }
}